@font-face {
  font-family: 'Gotham';
  src: local("../assets/fonts/gotham/Gotham-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: 'Gotham';
  src: local("../assets/fonts/gotham/Gotham-Book.ttf");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }

*,
*::after,
*::before {
  box-sizing: border-box; }

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0; }

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

a {
  color: #000000;
  text-decoration: none; }
  a:visited, a:hover {
    color: #000000; }

p {
  margin: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
