.close {
  background: #4f3f7e;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 9.5px;
    height: 1.2px;
    background: #fff;
    position: absolute;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}