.custom-select {
  &-container {
    position: relative;
    z-index: 2;
    font-size: 23px;
    color: #ffffff;
    select {
      display: none;
    }

    &.is-active {
      .custom-select-selected {
        &::after {
          transform: rotate(-45deg) translate(0, 7.5px);
        }
      }

      .custom-select-list {
        opacity: 1;
        transform: scale(1);
        pointer-events: unset;
      }
    }
  }

  &-selected {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 275px;
    line-height: 52px;
    padding: 0 24px 0 35px;
    background-color: $violet-main;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    z-index: 2;

    &::after {
      content: '';
      width: 15px;
      height: 15px;
      border-top: 2px solid #ffffff;
      border-right: 2px solid #ffffff;
      transform-origin: center center;
      transform: rotate(135deg);
      margin-left: auto;
      transition: all .3s ease;
    }
  }

  &-list {
    position: absolute;
    z-index: 1;
    top: calc(100% - 6px);
    width: 100%;
    padding: 26px 25px 20px 17px;
    background-color: $violet-main;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    opacity: 0;
    transform: scale(.7);
    transition: all .3s ease;
    pointer-events: none;

    &__item {
      position: relative;
      padding-bottom: 10px;
      text-align: right;
      border-bottom: 1px solid #A18DD7;
      cursor: pointer;

      &:hover {
        &::before {
          animation: arrow-animation .2s alternate ease-in-out 2;
        }
      }

      &:not(:last-child) {
        margin-bottom: 25px;
      }

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        bottom: 10px;
        left: 5px;
        margin: auto 0;
        width: 15px;
        height: 15px;
        border-top: 2px solid #fff;
        border-left: 2px solid #fff;
        transform: rotate(-45deg);
      }

      @keyframes arrow-animation {
        to {
          left: 0;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &-selected {
      line-height: 42px;
      font-size: 14px;
      padding: 0 18px 0 15px;

      &::after {
        width: 12px;
        height: 12px;
        border-top: 1px solid #ffffff;
        border-right: 1px solid #ffffff;
      }
    }

    &-list {
      &__item {
        font-size: 12px;

        &::before {
          width: 12px;
          height: 12px;
          border-top: 1px solid #fff;
          border-left: 1px solid #fff;
        }
      }
    }
  }
}