// .custom-number-container {
//   > input {
//     display: none;
//   }
// }

.custom-number {
  width: fit-content;
  line-height: 35px;
  display: flex;
  text-align: center;
  border: 1px solid #EBEBEB;
  color: $violet-main;

  & > div {
    width: 35px;
    transition: all .3s ease;

    &:hover {
      background-color: $violet-main;
      color: #ffffff;
    }
  }

  &__value {
    width: 35px;
    line-height: 1;
    padding: 12px 13px 10px;
    border-width: 0 1px !important;
    border-style: none solid !important;
    border-color: #ebebeb !important;
    font-size: 12px;
    text-align: center;
    color: $violet-main !important;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  &__action {
    cursor: pointer;
  }
}

// [dir="rtl"] .custom-number {
//   & > div {
//    &:not(:last-child) {
//       border-right: 0;
//       border-left: 1px solid #EBEBEB;
//     }
//   }
// }