@font-face {
  font-family: 'Gotham';
  src: local('../assets/fonts/gotham/Gotham-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: local('../assets/fonts/gotham/Gotham-Book.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}