@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/gotham/Gotham-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/gotham/Gotham-Book.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gotham';
  src: url('../../assets/fonts/gotham/Gotham-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../assets/fonts/roboto/Roboto-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('../../assets/fonts/Assistant/Assistant-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('../../assets/fonts/Assistant/Assistant-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('../../assets/fonts/Assistant/Assistant-SemiBold.ttf');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Assistant';
  src: url('../../assets/fonts/Assistant/Assistant-Bold.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
