*,
*::after,
*::before {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

a {
  color: #000000;
  text-decoration: none;

  &:visited,
  &:hover {
    color: #000000;
  }

  &:focus {
    outline: none;
  }
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 0 !important;

  &:focus {
    outline: none;
  }

  &[type='submit'] {
    border: 0;
    padding: 0;
  }
}

textarea {
  resize: none;

  &:focus {
    outline: none;
  }
}