html,
body {
  font-family: 'Gotham';
  font-size: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.click-animation {
  transition: transform .1s ease-in-out;

  &:active {
    transform: scale(.9);
  }
}

#page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}