.template-franchise {
  .wrapper {
    max-width: (1328px + 60px);
    padding: 0 30px;
  }

  .inner {
    display: flex;
    padding-top: 51px;
  }


  .franchise {
    &-section {
      width: 50%;
      padding-bottom: 100px;

      &:first-child {
        padding-right: 85px;
      }
    }

    &-title {
      display: flex;
      align-items: center;
      margin-bottom: 36px;
      color: #000000;

      img {
        margin-right: 15px;
        cursor: pointer;
      }

      h1 {
        font-size: 36px;
        font-weight: normal;
        line-height: 1;
      }
    }

    &-content {
      max-width: 566px;
      font-size: 20px;
      line-height: 32px;
      color: #000000;
      margin-bottom: 36px;

      p {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }

      ul {
        margin-bottom: 50px;

        li::before {
          content: '- ';
        }
      }
    }

    &-form {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &__column {
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        flex-basis: 47%;
      }

      &__field {
        background-color: #eeeeee;
        padding: 0 18px;
        border: 0;
        transition: all .3s ease;

        &::placeholder {
          font-size: 18px;
          color: #cecbcb;
        }
      }

      input {
        &[type='text'],
        &[type='tel'],
        &[type='email'] {
          line-height: 44px;
          padding: 0 18px;
        }

        &[type='submit'] {
          margin-top: auto;
          line-height: 62px;
          background-color: $violet-main;
          text-transform: uppercase;
          color: #ffffff;
          font-size: 24px;
          cursor: pointer;
        }
      }

      &__textarea {
        height: 100%;
        min-height: 136px;

        .custom-textarea {
          height: inherit;
          background: #eeeeee;
          font-size: 18px;

          textarea {
            &::placeholder {
              font-size: 18px;
              color: #cecbcb;
            }
          }
        }
      }

      &-file-container {
        display: flex;
        flex-basis: 100%;
        flex-wrap: wrap;

        .franchise-form-file-formats{
          flex-basis: 100%;

          p{
            padding-top: 14px;
            font-size: 13px;
            color: #C1C1C1;
          }
        }
      }

      &-square {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 64px;
        height: 64px;
        cursor: pointer;
      }

      &-file {
        background-color: $violet-main;

        input {
          display: none;
        }
      }

      &-file-list {
        display: flex;
        margin-right: 15px;

        & > div {
          margin-left: 15px;
        }
      }

      &-file-item {
        text-transform: uppercase;
        color: #9b9b9b;
        background-color: #E8E8E8;
        position: relative;

        .close {
          top: -9px;
          right: -9px;
        }
      }

      &-add-file {
        transition: all .3s ease;

        &:hover {
          background-color: #E8E8E8;
        }
      }

      & > input[type="submit"] {
        display: none;
      }

      &__row{
        flex-basis: 47%;

        &>input{
          width: 100%;
        }
      }

    }

    &-image {
      position: relative;
    }
  }

  &.franchise-private-label {
    .franchise-section {

      &:first-child {
        padding-right: 38px;
        padding-bottom: 85px;
        max-width: 650px;
      }
    }

    .franchise-image {
      padding-bottom: 0;
      display: flex;

      img {
        margin-top: auto;
        height: 100%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .inner {
      flex-direction: column;
    }

    .franchise {

      &-section {
        width: 100%;
        padding: 0;

        &:first-child {
          padding-right: 0;
          padding-bottom: 40px;
        }

        &.franchise-image {
          img {
            display: block;
            margin: 0 auto;
          }
        }
      }

      &-content {
        max-width: unset;
      }
    }

    &.franchise-private-label {
      .franchise-section:first-child {
        max-width: unset;
        padding-right: 0;
      }

      .franchise-image {
        display: block;

        img {
          height: auto;
        }
      }
    }
  }

  @media screen and (max-width: 630px) {
    &.franchise-private-label {
      .franchise-section {
        &:first-child {
          padding-bottom: 20px;
        }
      }
    }

    .franchise {

      &-title {
        img {
          width: 30px;
        }

        h1 {
          font-size: 24px;
        }
      }

      &-form {
        flex-direction: column;

        &__column {

          &:first-child {
            margin-right: 0;
          }

          input[type="submit"] {
            display: none;
          }
        }

        & > input[type="submit"] {
          display: block;
        }

        &__field {
          margin-bottom: 22px;
        }

        &__textarea {
          height: fit-content;
          min-height: unset;
          margin-bottom: 0;
          margin-bottom: 22px;

          .custom-textarea {
            height: 164px;
          }
        }
      }

      &-content {
        font-size: 16px;
      }
    }
  }

  .brief-popup {
    &__header {
      height: 52px;

      img {
        width: 23px;
        height: 32px;
      }
    }

    &__content {
      padding: 42px 30px 37px;
      text-align: center;

      p {
        font-size: 24px;
        color: #000000;
      }
    }

    &__submit {
      @include button-violet;
      margin-top: 42px;
      line-height: 46px;
    }

    @media screen and (max-width: 768px) {
      &__content {
        p {
          font-size: 16px;
        }
      }

      &__submit {
        margin-top: 24px;
      }
    }
  }

}

.franchise-pod{
  .franchise-image{
    img{
      position: absolute;
      bottom: 60px;
    }
  }

  @media screen and (max-width: 1024px) {
    .franchise-image{
      img{
        position: initial;
        bottom: 0px;
      }
    }
  }
}

[dir="rtl"] {
  .template-franchise {
    .franchise-title {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }

    .franchise-section {
      &:first-child {
        padding-right: 0;
        padding-left: 85px;
      }
    }

    @media screen and (max-width: 1024px) {
     .franchise-section {
        &:first-child {
          padding-left: 0;
        }
      }
    }

    @media screen and (max-width: 630px) {
      &.franchise-private-label {
       .franchise-section {
          &:first-child {
            padding-bottom: 20px;
          }
        }
      }

      .franchise-form {
        &__column {
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}