.home {
  main {
    margin-bottom: 231px;

    @media screen and (max-width: 768px) {
      margin-bottom: 0;
    }
  }
}

.last-products {
  .inner {
    display: flex;
  }

  &__item {
    flex: 1;
    padding: 29px 45px 46px 48px;
    display: flex;
    color: #ffffff;

    &.item-0 {
      background: radial-gradient(127.44% 220.51% at 67.56% 50%, #9680D1 0%, #7A65B4 100%);
    }

    &.item-1 {
      max-width: 546px;
      background: linear-gradient(117.42deg, #7A65B4 21.18%, #A577FF 87.3%);

      .last-products__item__image {
        a {
          margin-top: auto;
        }

        img {
          width: 245px;
          height: 241px;
        }

        .sale-circle {
          top: -5px;
        }
      }
    }

    &__image,
    &__info {
      flex-grow: 1;
    }

    &__info {
      display: flex;
      flex-direction: column;
    }

    &__status {
      width: fit-content;
      padding: 6px 14px;
      margin-bottom: 33px;
      font-size: 12px;
      text-align: center;
      background-color: #1C1C1C;
      border-radius: 5px;
      cursor: default;
    }

    &__category {
      margin-bottom: 16px;
      font-size: 14px;
      color: #c8c8c8;

      a {
        color: inherit;
        pointer-events: none;
        cursor: default;
      }
    }

    &__price {
      font-size: 14px;
      margin-bottom: 18px;
    }

    &__name {
      font-size: 23px;
      line-height: 27.5px;
      font-weight: 400;
    }

    &__button {
      display: block;
      width: 130px;
      margin-top: auto;
      line-height: 42px;
      text-align: center;
      white-space: nowrap;
      background-color: #fff;
      color: #5b4597;

      &:visited,
      &:hover {
        color: #5b4597;
      }
    }

    &__image {
      width: fit-content;
      position: relative;
      display: flex;
      padding-left: 15px;

      a {
        display: flex;
        margin-left: auto;
      }

      img {
        width: 289px;
        height: 265px;
        object-fit: cover;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .inner {
      flex-direction: column;
    }

    .last-products {
      &__item {
        img {
          width: auto;
          height: auto;
        }

        &.item-1 {
          max-width: unset;
        }
      }
    }

    .slick-initialized .slick-slide {
      display: flex;
    }

    .slick-dots {
      bottom: -5px;

      li {
        button::before {
          width: 25px;
          height: 1px;
          background-color: #ffffff;
          color: unset;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__item {
      padding: 20px 42px 32px 26px;

      &__status {
        font-size: 10px;
        margin-bottom: 10px;
      }

      &__category {
        margin-bottom: 0;
      }

      &__price {
        margin-bottom: 0;
      }

      &__name {
        font-size: 13px;
      }

      &__button {
        font-size: 13px;
        width: 83px;
        line-height: 29px;
      }

      &__image {
        img {
          max-width: 168px;
          width: auto;
          height: auto;
        }
      }

      &.item-1 {
        .last-products__item__image img {
          width: auto;
          height: auto;
        }
      }
    }

    .sale-circle {
      width: 38.5px;
      height: 38.5px;
      font-size: 10px;
      top: -13px !important;
      right: -21px;
    }
  }
}

[dir="rtl"] .last-products {
  &__item {
    &__image {
      padding-left: 0;
      padding-right: 15px;

      a {
        margin-left: unset;
        margin-right: auto;
      }
    }

    &.item-1 {
      background: linear-gradient(117.42deg, #A577FF 21.18%, #7A65B4 87.3%);

      .last-products__item__image .sale-circle {
        right: unset;
        left: -20px;
      }
    }
  }
}

.products {
  padding: 90px 30px 93px;

  &__search {
    display: flex;
    align-items: center;
    margin-bottom: 38px;

    &__input {
      width: 100%;
      position: relative;
      overflow-x: hidden;

      &.is-loading {
        &::before {
          display: block;
        }
      }

      input {
        width: inherit;
        padding: 15px 20px;
        background-color: #efefef;
        border-radius: 8px !important;
        font-size: 18px;
        border: 0;

        &::placeholder {
          font-size: 18px;
          color: #C8C8C8;
        }

        &:focus {
          outline: none;
        }
      }

      img {
        display: block;
        position: absolute;
        right: 20px;
        top: 0;
        bottom: 0;
        margin: auto 0;
        cursor: pointer;
      }

      &::before {
        content: '';
        display: none;
        position: absolute;
        z-index: 1;
        left: -150px;
        top: 0;
        height: 100%;
        width: 150px;
        background: linear-gradient(to right, transparent 0%, #ffffff 50%, transparent 100%);
        animation: load .7s cubic-bezier(0.4, 0.0, 0.2, 1) infinite;
      }

      @keyframes load {
        from {
          left: -150px;
        }
        to   {
          left: 100%;
        }
      }
    }

    .custom-select-container {
      margin-left: 20px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 46px;
    row-gap: 38px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-top: 62px;

    .page-numbers {
      width: 51px;
      height: 51px;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid $violet-main;
      font-size: 14px;
      font-weight: 500;
      color: $violet-main;
      background-color: #ffffff;
      transition: all .3s ease;

      &:not(:last-child) {
        margin-right: 7px;
      }

      &.current,
      &:not(.prev):not(.next):hover {
        background-color: $violet-main;
        color: #ffffff;
      }

      &.prev {
        img {
          transform: rotate(180deg);
        }
      }
    }
  }

  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media screen and (max-width: 1024px) {
    &__grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media screen and (max-width: 768px) {
    padding: 12.5px 30px 69px 25px;

    .custom-select {
      &-container {
        width: 100%;
        margin-left: unset;
        margin-top: 12px;
      }

      &-selected {
        max-width: unset;
        width: inherit;
      }
    }

    &__search {
      flex-direction: column;

      &__input {
        input {
          padding: 0 18px;
          line-height: 42px;
          font-size: 12px;

          &::placeholder {
            font-size: 12px;
          }
        }

        img {
          width: 14px;
          height: 14px;
        }
      }
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }

    .c-product-item {
      &__image {
        height: 315px;
      }
    }

    &__pagination {
      margin-top: 27px;
    }
  }

  @media screen and (max-width: 568px) {
    &__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

[dir="rtl"] .products {
  &__search {
    .custom-select-container {
      margin-left: 0;
      margin-right: 20px;
    }

    &__input {
      img {
        right: unset;
        left: 20px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    &__search {
      .custom-select-container {
        margin-right: 0;
      }
    }
  }
}